# Hello Everyone.
# MySelf Ganesh Kasturi.
# We will learn about the some basic Concepts of Programming Language.
# Python Programming.

# Let's START

In [1]:
# To Print a Python Program u need only print command.
print('Ganesh kasturi')

Ganesh kasturi

# It's soo simple!!!!!!!!!!!!!!!!!!!!!!

# 1) Variables and  Simple Data Types.

# You’ll learn about the different kinds of data you can work with in your Python programs. You’ll also learn how  to store your data in variables and how to use those variables in your programs.

In [2]:
# We define variable to store value in it. (message) is a variable here and value is in ('')
message = ('Welcome to self study Python')
print(message)

Welcome to self study Python

# String

# A string is simply a series of characters.

#                              Changing Case in a String with Methods.

In [3]:
#title() metods is used to make everything string Title. See the difference.!
message = ('ganesh kasturi')
print(message.title())

Ganesh Kasturi

In [4]:
# upper and lower case 
text1 = ('WE LOVE INDIA')
text2 = ('we love python')
print(text1.lower())
print(text2.upper())

we love india
WE LOVE PYTHON

In [5]:
# Combining or Concatenating Strings.(+) is used to combine String
first_name = 'Ganesh'
second_name = 'Kasturi'
full_name = first_name + " " + second_name
print(full_name)

Ganesh Kasturi

In [6]:
# add some more code.
print('Hello, ' + full_name + '!')

Hello, Ganesh Kasturi!

In [8]:
# To add a tab to your text, use the character combination (\t)
print('\tPython')

	Python

In [9]:
# To add a newline in a string, use the character combination (\n)
print('Ganesh \n Kasturi')

Ganesh
 Kasturi

In [14]:
#both combine
print('Languages:\n\tPython\n\tC\n\tJavaScript')

Languages:
	Python
	C
	JavaScript

# Numbers:

# Integers
# You can add (+), subtract (-), multiply (*), and divide (/) integers in Python.

In [15]:
2+3

5

In [16]:
5-1

4

In [17]:
2*6

12

In [18]:
4/5

0.8

In [19]:
4**2

16

In [20]:
#use this soo u understand it well
(2+3) * 5

25

# Floats

In [21]:
0.1+0.5

0.6

In [22]:
1.5-0.5

1.0

In [23]:
5.6*1.58

8.847999999999999

In [24]:
5.1/1.5

3.4

In [26]:
# str() function, which tells Python to represent non-string values as strings:
age = 20
message = ('Happy ' +str(age)+ 'rd Brithday')
print(message)

Happy 20rd Brithday

# List in Python:

# A list is a collection of items in a particular order.

 In Python, square brackets ([]) indicate a list, and individual elements
 in the list are separated by commas.

In [27]:
#List simple code
fruits = ['Apple','Mango','Banana','Grapes']
print(fruits)

['Apple', 'Mango', 'Banana', 'Grapes']

Accessing Elements in a List:                                                               
Lists are ordered collections, so you can access any element in a list by telling Python the position, or index, of the item desired.

# Index Positions Start at 0, Not 1

In [31]:
fruits = ['Apple','Mango','Banana','Grapes'] # Index value 0 contain Apple.
print(fruits[0])

Apple

In [32]:
fruits = ['Apple','Mango','Banana','Grapes']
print(fruits[2])

Banana

In [34]:
#add string method also here.
fruits = ['apple','Mango','Banana','Grapes'] # make a small to see the difference
print(fruits[0].title())

Apple

In [36]:
fruits = ['Apple','Mango','Banana','Grapes']# -1 return last element in a list
print(fruits[-1])

Grapes

Modifying Elements in a List.

In [37]:
fruits = ['Apple','Mango','Banana','Grapes']
print(fruits)

['Apple', 'Mango', 'Banana', 'Grapes']

In [38]:
fruits[0] = 'Watermelon'
print(fruits)

['Watermelon', 'Mango', 'Banana', 'Grapes']

In [39]:
fruits[3] = 'Onion'
print(fruits)

['Watermelon', 'Mango', 'Banana', 'Onion']

Adding Elements to a List

The append() method makes it easy to build lists dynamically (At the end of the list!!!!!!)

In [40]:
fruits = ['Apple','Mango','Banana','Grapes']
print(fruits)

['Apple', 'Mango', 'Banana', 'Grapes']

In [41]:
fruits.append('Watermelon')
print(fruits)

['Apple', 'Mango', 'Banana', 'Grapes', 'Watermelon']

In [42]:
#empty list example
veg = []
veg.append('Onion')
veg.append('Potato')
veg.append('lemon')
print(veg)

['Onion', 'Potato', 'lemon']

In [45]:
# Add a new element at any position in your list by using the insert() method.
veg.insert(0,'Ginger')
print(veg)

['Ginger', 'Ginger', 'Ginger', 'Onion', 'Potato', 'lemon']

In [46]:
# Removing an Item Using the del Statement
print(veg)

['Ginger', 'Ginger', 'Ginger', 'Onion', 'Potato', 'lemon']

In [51]:
del veg[0]
print(veg)

['Ginger', 'Ginger', 'Onion', 'Potato', 'lemon']

In [52]:
# The pop() method removes the last item in a list.
fruits = ['Apple','Mango','Banana','Grapes']
print(fruits)

['Apple', 'Mango', 'Banana', 'Grapes']

In [53]:
fruits.pop()
print(fruits)

['Apple', 'Mango', 'Banana']

In [56]:
fruits.pop(1) # Using index position
print(fruits)

['Apple']

In [57]:
# sort() method makes it relatively easy to sort a list.
number = [2,5,3,4,6,1,7,9,8]
print(number)

[2, 5, 3, 4, 6, 1, 7, 9, 8]

In [58]:
# sort
number.sort()
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
# reverse the original order of a list, you can use the reverse() method. 
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
number.reverse()
print(number)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

# Looping Through an Entire List

 In for loop:
 for variable_name in list_name:
 print(variable_name)

In [61]:
number = [1,2,3,3,4,5,6,7,8,9,10] # Varaible name should be as your choice
for num in number:
    print(num)

1
2
3
3
4
5
6
7
8
9
10

In [64]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician.title() + ", that was a great trick!")
print("I can't wait to see your next trick, " + magician.title() + ".\n")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

 # Making Numerical Lists

In [65]:
# range() Function
for n in range(0,10):
    print(n)

0
1
2
3
4
5
6
7
8
9

In [66]:
# Using range() to Make a List of Numbers
number = list(range(1,6))
print(number)

[1, 2, 3, 4, 5]

In [67]:
#example
squares = []
for value in range(1,11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

 # Simple Statistics with a List of Numbers

In [68]:
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [69]:
min(squares)

1

In [70]:
max(squares)

100

In [71]:
sum(squares)

385

# List comprehension

In [72]:
squares = [value ** 2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Slicing a List

In [73]:
name = ['Ganesh','Virat','Rohit','Dhawan','Rania']
print(name[0:3])

['Ganesh', 'Virat', 'Rohit']

 # Copying a List

In [74]:
my_food =['Briyani','Burger','Chicken']
friends_food = my_food[:]

print('My favourites food are')
print(my_food)

print('\n My friends food are')
print(friends_food)

My favourites food are
['Briyani', 'Burger', 'Chicken']

 My friends food are
['Briyani', 'Burger', 'Chicken']

 # Tuples

Tuples allow you to do just that. Python refers to values that cannot change as immutable, and an immutable list is called a tuple.

A tuple looks just like a list except you use parentheses instead of square brackets. Once you define a tuple, you can access individual elements by using each item’s index, just as you would for a list.

In [75]:
#tuple
dimensions = (10,200)
print(dimensions)

(10, 200)

In [76]:
print(dimensions[0])

10

In [77]:
print(dimensions[1])

200

In [78]:
# For loop using tuple
for n in dimensions:
    print(n)

10
200

# Since Tuple are not modified.For begining this knowledge is enough.

# If Statements in Pythons :==================================

Programming often involves examining a set of conditions and deciding which action to take based on those conditions.
Python’s if statement allows you to examine the current state of a program and respond appropriately to that state.

In [79]:
car = ['audi','bmw','jeep','ford']
for i in car:
    if i == 'bmw':
        print (i.upper())
    else:
        print (i.title())

Audi
BMW
Jeep
Ford

# Checking for Inequality

In [80]:
requested_topping = 'mushrooms'
if requested_topping != 'anchovies':
    print("Hold the anchovies!")

Hold the anchovies!

 # Boolean Expressions

In [83]:
10==10

True

In [82]:
100 ==100

True

In [84]:
# Simple IF test.
age = 19
if age >= 18:
    print("You cant VOTE!!!!")

You cant VOTE!!!!

In [85]:
#if - else statement.
age = 17
if age >= 18:
    print("You are old enough to vote!")
    print("Have you registered to vote yet?")
else:
    print("Sorry, you are too young to vote.")
    print("Please register to vote as soon as you turn 18!")

Sorry, you are too young to vote.
Please register to vote as soon as you turn 18!

In [86]:
#if -elif - else Statement.
age = 12
if age < 4:
    print('Cost of fees is 0$')
elif age < 18 :
    print('Cost of fees is 15$')
else:
    print('Cost of fees is  50$')

Cost of fees is 15$

In [87]:
# Test Multiple condition.
requested_toppings = ['mushrooms', 'extra cheese']
if 'mushrooms' in requested_toppings:
    print("Adding mushrooms.")
if 'pepperoni' in requested_toppings:
    print("Adding pepperoni.")
if 'extra cheese' in requested_toppings:
    print("Adding extra cheese.")

print("\nFinished making your pizza!")

Adding mushrooms.
Adding extra cheese.

Finished making your pizza!

In [89]:
#Example 
available_toppings = ['mushrooms', 'olives', 'green peppers','pepperoni', 'pineapple', 'extra cheese']
requested_toppings = ['mushrooms', 'french fries', 'extra cheese']
for requested_topping in requested_toppings:
    if requested_topping in available_toppings:
        print("Adding " + requested_topping + ".")
    else:
        print("Sorry, we don't have " + requested_topping + ".")
            

print("\nFinished making your pizza!")

Adding mushrooms.
Sorry, we don't have french fries.
Adding extra cheese.

Finished making your pizza!

# Dictionaries

# A dictionary in Python is a collection of key-value pairs. Each key is connected to a value, and you can use a key to access the value associated with that key.
# A key’s value can be a number, a string, a list, or even another dictionary.

In [90]:
classes = {'name': 'Ganesh kasturi','age':21}

In [91]:
print(classes)

{'name': 'Ganesh kasturi', 'age': 21}

In [92]:
print(classes['name'])

Ganesh kasturi

In [93]:
print(classes)

{'name': 'Ganesh kasturi', 'age': 21}

In [96]:
new_group = classes['age']
print('Your age ' +str(new_group)+' is correct')

Your age 21 is correct

In [97]:
print(classes)

{'name': 'Ganesh kasturi', 'age': 21}

In [99]:
#Adding new dict
classes['study'] ='Computer Science'
classes['locaction'] ='Mumbai'
print(classes)

{'name': 'Ganesh kasturi', 'age': 21, 'study': 'Computer Science', 'locaction': 'Mumbai'}

In [100]:
classes['Country'] = 'India'
print(classes)

{'name': 'Ganesh kasturi', 'age': 21, 'study': 'Computer Science', 'locaction': 'Mumbai', 'Country': 'India'}

In [101]:
#Starting with a empty dictionary
man = {}
man['height'] = 5.7
man['weight'] = 75
man['skin'] = 'Fair'
man['Educated']= 'YES'
print(man)

{'height': 5.7, 'weight': 75, 'skin': 'Fair', 'Educated': 'YES'}

In [102]:
# Modifying the dictionary
print(man)

{'height': 5.7, 'weight': 75, 'skin': 'Fair', 'Educated': 'YES'}

In [103]:
man['weigth'] = 80
man['skin'] = 'Black'
print(man)

{'height': 5.7, 'weight': 75, 'skin': 'Black', 'Educated': 'YES', 'weigth': 80}

In [104]:
# Removing key value pairs.
print(man)

{'height': 5.7, 'weight': 75, 'skin': 'Black', 'Educated': 'YES', 'weigth': 80}

In [105]:
del man['skin']
print(man)

{'height': 5.7, 'weight': 75, 'Educated': 'YES', 'weigth': 80}

# Looping Through a Dictionary

Looping Through All Key-Value Pairs

In [109]:
# For loop using dict.
favorite_languages = {'Ganesh':'Python','Virat':'Java','Rohit':'C++','Dhoni':'SQL'}
for name,languages in favorite_languages.items():
    print(name.title()+ ' s my favorite is '+languages.title() + '.')

Ganesh s my favorite is Python.
Virat s my favorite is Java.
Rohit s my favorite is C++.
Dhoni s my favorite is Sql.

# User Input

In [111]:
# imput() function
name = input("Enter the name: ")
print(name)

Enter the name: Ganesh
Ganesh

In [113]:
name = input('Enter the name : ')
print('The name is '+name+' who is teaching python')

Enter the name : Ganesh kasturi
The name is Ganesh kasturi who is teaching python

In [118]:
height =int(input('Enter the height: '))
if height >= 25:
    print(str(height)+ '  Is ready to ride')
else:
    print(str(height) + '  is not allowed to ride')

Enter the height: 21
21  is not allowed to ride

The Modulo Operator

In [119]:
7 % 5

2

In [120]:
8 % 6

2

In [122]:
# Even or odd program.
number = int(input('Enter the number,to check even or odd:  '))
if number % 2 == 0:
    print('The Number '+str(number)+ ' is EVEN')
else:
    print('The Number '+str(number)+ ' is ODD')

Enter the number,to check even or odd:  77
The Number 77 is ODD

# while Loops:

The while loop runs as long as, or while, a certain condition is true.

In [123]:
x = 0
while x < 10:
    print('X is currenty', x)
    print('Enter a new value which is less than 10')
    x = x + 1

X is currenty 0
Enter a new value which is less than 10
X is currenty 1
Enter a new value which is less than 10
X is currenty 2
Enter a new value which is less than 10
X is currenty 3
Enter a new value which is less than 10
X is currenty 4
Enter a new value which is less than 10
X is currenty 5
Enter a new value which is less than 10
X is currenty 6
Enter a new value which is less than 10
X is currenty 7
Enter a new value which is less than 10
X is currenty 8
Enter a new value which is less than 10
X is currenty 9
Enter a new value which is less than 10

In [124]:
# while using else:
x = 0
while x < 10:
    print('X is currenty', x)
    print('Enter a new value which is less than 10')
    x = x + 1
else:
    print('Done with it')

X is currenty 0
Enter a new value which is less than 10
X is currenty 1
Enter a new value which is less than 10
X is currenty 2
Enter a new value which is less than 10
X is currenty 3
Enter a new value which is less than 10
X is currenty 4
Enter a new value which is less than 10
X is currenty 5
Enter a new value which is less than 10
X is currenty 6
Enter a new value which is less than 10
X is currenty 7
Enter a new value which is less than 10
X is currenty 8
Enter a new value which is less than 10
X is currenty 9
Enter a new value which is less than 10
Done with it

In [128]:
x = 0
while x < 10:
    print('x is currently' , x)
    x = x + 1
    if (x==5):
        print("3 have been reached and close the loop")
        break
    else:
        print('Continue')
        continue

x is currently 0
Continue
x is currently 1
Continue
x is currently 2
Continue
x is currently 3
Continue
x is currently 4
3 have been reached and close the loop

In [129]:
# Example
pets = ['dog', 'cat', 'dog', 'goldfish', 'cat', 'rabbit', 'cat']
print(pets)

['dog', 'cat', 'dog', 'goldfish', 'cat', 'rabbit', 'cat']

In [130]:
while 'cat' in pets:
    pets.remove('cat')

In [131]:
print(pets)

['dog', 'dog', 'goldfish', 'rabbit']

 # Functions

In [132]:
def greet_user():
    print('Hello User')

In [133]:
greet_user()

Hello User

In [134]:
def greet_user(username):
    print('Hello '+username.title()+' !')

In [135]:
greet_user('Ganesh')

Hello Ganesh !

In [136]:
def number(num1,num2):
    return num1 + num2

In [137]:
number(5,6)

11

In [143]:
# Prime Number or not
def prime(num):
    for n in range(2,num):
        if num % n == 0:
            print(num,'Enter number is not even')
            break
    else:
        print(num,'Number is Even')

In [144]:
prime(16)

16 Enter number is not even

In [145]:
prime(17)

17 Number is Even

In [152]:
def name(student,age):
    print('The '+student+' is soo smart')
    print(str(age)+ ' is only this!!!!!!!')

In [153]:
name('Ganesh',21)

The Ganesh is soo smart
21 is only this!!!!!!!

In [154]:
name('Kasturi',100)

The Kasturi is soo smart
100 is only this!!!!!!!

In [156]:
def full_name(first_name,second_name):
    full_name = first_name+' '+second_name
    return full_name
form = full_name('Ganesh','Kasturi')
print(form)

Ganesh Kasturi

In [162]:
# Returning a Dictionary
def dict_1(first_name,second_name):
    person = {'first':first_name,'second':second_name}
    return person

In [163]:
sum = dict_1('Ganesh','Kasturi')
print(sum)

{'first': 'Ganesh', 'second': 'Kasturi'}

In [4]:
# Returing a Lists
def users_name(names):
    for name in names:
        print('Hello '+name.title()+' !')

In [5]:
username =['Ganesh','kasturi','Laxman']
users_name(username)

Hello Ganesh !
Hello Kasturi !
Hello Laxman !

# Classes and Objects:

In [31]:
class Circle:
    pi = 3.14

    # Circle gets instantiated with a radius (default is 1)
    def __init__(self, radius=1):
        self.radius = radius 
        self.area = radius * radius * Circle.pi

    # Method for resetting Radius
    def setRadius(self, new_radius):
        self.radius = new_radius
        self.area = new_radius * new_radius * self.pi

    # Method for getting Circumference
    def getCircumference(self):
        return self.radius * self.pi * 2


c = Circle()

print('Radius is: ',c.radius)
print('Area is: ',c.area)
print('Circumference is: ',c.getCircumference())

Radius is:  1
Area is:  3.14
Circumference is:  6.28

# Inheritance

In [32]:
class Animal:
    def __init__(self):
        print("Animal created")

    def whoAmI(self):
        print("Animal")

    def eat(self):
        print("Eating")


class Dog(Animal):
    def __init__(self):
        Animal.__init__(self)
        print("Dog created")

    def whoAmI(self):
        print("Dog")

    def bark(self):
        print("Woof!")

In [33]:
d = Dog()

Animal created
Dog created

In [38]:
d.bark()

Woof!

In [39]:
d.eat()

Eating

In [40]:
d.whoAmI()

Dog

# End 
# OFF Basic 
# Thank You
# ------------------------------------- Ganesh kasturi ------------------------------------------------